{% extends 'unreg_base.html' %}
{% load static %}
{% block title%}
<title>Reset Password || First-step</title>
{% endblock %}

{% block path %}
<li class="active"><a href="{% url 'resetPassword' %}">Reset Password</a></li>
{% endblock %}

{% block content %}

<section class="w3l-hotair-form">
	<!-- <h1>Report Login Form</h1> -->
	<div class="container">
		<!-- /form -->
	
			<div class="single">  
				<div class="form-container">
					<div class="register-title">
						<h3 class="mb-10">RESET  PASSWORD</h3>
						<p class="account">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
						<br><br>
					</div>
					<!-- <form onsubmit="return validatee()" action="{% url 'login' %}" method="post" id="logform" -->
					<form onsubmit="return resetValidate()" action="{% url 'resetPassword' %}" method="post"
						id="logform" name="logform">
						<!-- {{error}} -->
						{% include 'Message.html' %}
						{% csrf_token %}
						<div class="form-group row">
							<label for="newpassword" class="col-lg-3 col-md-4 col-form-label">New password</label>
							<div class="col-lg-6 col-md-8">
								<input type="password" class="form-control" id="new_password" name="password" onkeyup="passwordValidation(this)">
								<span class="new" id="new-passwd" style="color: red;"> </span>
								<span class="focus-input100"></span>
								<span class="symbol-input100"></span>
							</div>
						</div>
						<div class="form-group row">
							<label for="v-password" class="col-lg-3 col-md-4 col-form-label">Confirm password</label>
							<div class="col-lg-6 col-md-8">
								<input type="password" class="form-control" id="confirm_passwords" name="confirm_password" onkeyup="cpasswordValidation(this)">
								<span class="new" id="confirm-passwd" style="color: red;"> </span>
								<span class="focus-input100"></span>
								<span class="symbol-input100"></span>
							</div>
						</div>
						<!-- <div class="form-group">
							<label class="col-md-3 control-lable" for="New Password">New Password</label>
							<input type="password" class="password" id="password" name="password"
								placeholder="Password">
							<span class="text-danger" id="log-passwd"> </span><br>
							<label class="col-md-3 control-lable" for="Confirm Password">Confirm Password</label>
							<input type="password" class="password" id="confirm_password" name="confirm_password"
								placeholder="Confirm Password">
							<span class="text-danger" id="log-confirm"> </span><br>
						</div> -->
						<div class="register-box mt-40">
							<button type="submit" class="return-customer-btn f-right">Reset Password</button>
						</div>
						<!-- <div class="row">
							<div class="form-actions floatRight">
								<input type="submit" value="Reset Password" class="btn btn-primary btn-sm">
							</div>
						</div> -->
		
					</form>
				</div>
				<div class="w3l_form align-self">
					<div class="left_grid_info">
						<!-- <img src="{% static 'img/log2.jpg' %}" alt="" class="img-fluid"> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<br>
<script type="text/javascript">
	function resetValidate() {
		var val = document.getElementById('new_password').value;
            if(val=="")
            {
                document.getElementById('new-passwd').innerHTML="**Password can't be null!!";
                return false;
            }
            else{
                document.getElementById('new-passwd').value = "";
            }
            if (!val.match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/)) 
            {
                document.getElementById('new-passwd').innerHTML="**Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters'";
                return false;
            }
            else{
                document.getElementById('new-passwd').value = "";
            }

			var val = document.getElementById('confirm_passwords').value;
            if(val=="")
                {
                    document.getElementById('confirm-passwd').innerHTML="**Password can't be null!!";
                    return false;
                }
                else{
                document.getElementById('confirm-passwd').value = "";
            }

            if(val != document.getElementById('new_password').value){
            document.getElementById('confirm-passwd').innerHTML="**passwords should be matching";
            return false;
            }
            else{
            document.getElementById('confirm-passwd').innerHTML="";
            }
	}

	function passwordValidation(inputTxt){
    
	var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/;
	var textField = document.getElementById("new-passwd");
		
	if(inputTxt.value != '' ){
			if(inputTxt.value.match(regx)){
				textField.textContent = '';
				textField.style.color = "green";
					
			}else{
				textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
				textField.style.color = "red";
			}    
	}else{
		textField.textContent = '**Password cannot be null!!';
		textField.style.color = "red";
	}
}

function cpasswordValidation(inputTxt){
    
    var regx =  document.getElementById("confirm_passwords").value;
    var regy =  document.getElementById("new_password").value;
    var textField = document.getElementById("confirm-passwd");
        
    if(inputTxt.value != '' ){
            if(regx == regy){
                textField.textContent = '';
                textField.style.color = "green";
                    
            }else{
                textField.textContent = '**password should be matching';
                textField.style.color = "red";
            }    
    }else{
        textField.textContent = '**Password cannot be null!!';
        textField.style.color = "red";
    }
}

</script>
{% endblock  %}
<!-- <p class="account">Don't have an account? <a href="{% url 'register' %}">Register</a></p> -->